{% extends 'layouts/app.html'%}

{% block content %}
    <article class="uk-article-title">Aprende a tu ritmo</article>
    <article class="uk-article-meta">Sin distacciones</article>
    <p>
        EYT es una potente y amigable aplicación web diseñada para mejorar 
        tu experiencia de aprendizaje en línea en YouTube. Con EYT, puedes tomar el control de tu educación 
        en línea al rastrear tu progreso a través de cursos en video, eliminar distracciones y mantenerte 
        organizado.
    </p>
    <div class="uk-hr"></div>

    <article class="uk-article">
        <div class="uk-text-justify" uk-grid>
            <div class="uk-width-1-2">
                <h1 class="uk-article-title">Visión General</h1>
                <p>
                    Los cursos en línea en YouTube ofrecen una gran cantidad de conocimiento, 
                    pero llevar un registro de tu progreso y evitar distracciones puede ser un desafío. 
                    EYT simplifica este proceso al proporcionar una plataforma rica en funciones para 
                    que aproveches al máximo tus esfuerzos de aprendizaje.
                </p>
            </div>
            <div class="uk-width-1-2">
                <h1>¿Por Qué EYT?</h1>
                <p>
                EYT fue creado como respuesta al cierre de openbootcamp, dado que liberaron todo su contenido en 
                Youtube para continuar con la educación 
                en línea. El aprendizaje debe ser atractivo, organizado y libre de distracciones. 
                Con EYT, aspiro a transformar tu experiencia de aprendizaje en YouTube, ayudándote a alcanzar tus 
                objetivos educativos de manera eficiente.
                </p>
            </div>
        </div>
        <div class="uk-hr"></div>
        <h1 class="uk-article-title">Características Clave</h1>
        <div class="uk-text-justify" uk-grid>
            <div class="uk-width-1-2">
                <p class="uk-text-lead">1. Seguimiento del Progreso del Curso</p>
                <p>
                    EYT te permite llevar un registro sin esfuerzo de tu progreso dentro de un curso de YouTube. 
                    Simplemente pega la URL de la lista de reproducción del curso, y EYT creará un panel de control 
                    dedicado para el curso, mostrando los videos que has completado y los que aún no has visto.
                </p>
            </div>
            <div class="uk-width-1-2">
                <p class="uk-text-lead">4. Experiencia Personalizable</p>
                <p>
                    Personaliza EYT según tus preferencias. Ajusta la velocidad de reproducción, activa los 
                    subtítulos y personaliza el reproductor de video para que se adapte a tu estilo de aprendizaje. 
                    EYT te empodera para crear un entorno de aprendizaje óptimo.
                </p>
            </div>
        </div>
        <div class="uk-text-justify" uk-grid>
            <div class="uk-width-1-2">
                <p class="uk-text-lead">2. Barra de Progreso de los Videos</p>
                <p>
                    Nunca pierdas de vista tu progreso dentro de un video o en todo el curso. EYT muestra una barra de 
                    progreso dinámica para cada video y una barra de progreso general del curso. Siempre sabrás cuánto 
                    has avanzado y cuánto falta por cubrir.
                </p>
            </div>
            <div class="uk-width-1-2">
                <p class="uk-text-lead">5. Catálogo de Cursos Organizado</p>
                <p>
                    EYT mantiene un catálogo de todos los cursos que has seguido, lo que facilita volver y continuar 
                    tu viaje de aprendizaje cuando lo desees.
                </p>
            </div>
        </div>
        <div class="uk-text-justify" uk-grid>
            <div class="uk-width-1-2">
                <p class="uk-text-lead">3. Aprendizaje sin Distracciones</p>
                <p>
                    ¡Dile adiós a las distracciones! EYT elimina los videos sugeridos y los anuncios de YouTube, 
                    asegurando que tu enfoque se mantenga únicamente en el contenido del curso. Este entorno libre de 
                    distracciones mejora tu experiencia de aprendizaje.
                </p>
            </div>
            <div class="uk-width-1-2">
                <p class="uk-text-lead">6. Interfaz Amigable para el Usuario</p>
                <p>
                    Nuestra interfaz intuitiva garantiza que puedas navegar por EYT sin esfuerzo, independientemente 
                    de tu experiencia técnica. Está diseñada pensando en tu comodidad.
                </p>
            </div>
        </div>
        
        <div class="uk-hr"></div>
        <div class="uk-align-center">
            <h1 class="uk-article-title">Cómo Usar EYT</h1>
            <p class="">Copia la URL de la lista de reproducción del curso de YouTube que deseas seguir.</p>
            
            <p class="">Pega la URL en el campo de entrada de EYT.</p>
            
            <p class="">Haz clic en "Seguir Curso", y EYT creará un panel de control de curso dedicado.</p>
            
            <p class="">¡Comienza a aprender! EYT actualizará automáticamente tu progreso.</p>
            <p>
            EYT te empodera para tomar el control de tu educación basada en YouTube, brindando una experiencia de aprendizaje sin distracciones y sin complicaciones.
            </p>
        </div>
        <div class="uk-hr"></div>
        <div>
            <blockquote cite="#" class="uk-column-span">
                <p>
                    EYT es un proyecto de código abierto y damos la bienvenida a las contribuciones 
                    de la comunidad para mejorar aún más el aprendizaje en línea.
                </p>
                <p>
                    Nota: Este proyecto no está afiliado a YouTube y está destinado únicamente con fines educativos.
                </p>
                <footer>Gabriel Díaz <cite><a href="https://gabodl.com" target="_blank">Gabodl</a></cite></footer>
            </blockquote>
        </div>
    </article>
    <br>
{% endblock %}
